extends layout

block content
    .contenedor__inicio

        div
            .contenedor-definiciones
                h2 Últimas expresiones

            .contenedor-definiciones
                h2 Expresión
                p Definición

        .contenedor-crear-definicion
            if estaAutenticado
                h2 ¡Define una expresión!
                form
                    label(for="titulo-def") Título
                    br
                    input#titulo-def(placeholder="Título" type="text")
                    br
                    label(for="definicion-def") Definicion
                    br
                    textarea#definicion-def
                    br
                    input(type="submit" value="¡Crear!")
            else
                h2 Iniciar sesion
                p con Google
                a(href="/auth/google") Iniciar sesión con Google
