extends layout

block content
    .contenedor__inicio

        .contenedor-definiciones
            h2 Últimas definiciones
            p Algun dia...

        .contenedor-crear-definicion
            h2 Iniciar sesion
            p con Google
            a(href="/auth/google") Iniciar sesión con Google
