.contenedor__inicio
  margin 0 auto
  max-width 90rem
  width 80%
  display grid
  grid-template-columns 60% 38%
  grid-column-gap 2%
  padding-top 1rem

.contenedor-definiciones, .contenedor-crear-definicion
  background-color var(--color-fondo-2)
  border-radius 3px
  padding 0.75rem

  h2
    margin 1rem 0

