@media (prefers-color-scheme: light)
  .tema-automatico
    --color-fondo #ffffff
    --color-fondo-2 #dedede
    --color-texto #151515

@media (prefers-color-scheme: dark)
  .tema-automatico
    --color-fondo #151515
    --color-fondo-2 #212121
    --color-texto #dedede

